.my-about-page > .my_wrapper > .image > img {
    height: 300px;
    width: 300px;
}
.my-about-page > .about-heading {
    margin-bottom:30px;
    margin-top:30px;
}
@media screen and (max-width:400px) {
    .my-about-page {
        width: 95%;
        margin: auto;
        margin-bottom: 50px;
    }
}
@media screen and (min-width:400px) and (max-width:500px) {
    .my-about-page > .about-heading {
        margin-bottom:30px;
        margin-top:30px;
    }
    .my-about-page {
        width: 90%;
        margin: auto;
        margin-bottom: 50px;
    }
    .my-about-page > .my_wrapper > .image > img {
        height: 350px;
        width: 350px;
    }
}
@media screen and (min-width:500px) and (max-width:650px) {
    .my-about-page > .about-heading {
        margin-bottom:30px;
    }
    .my-about-page {
        width: 80%;
        margin: auto;
        margin-bottom: 50px;
    }
    .my-about-page > .my_wrapper > .image > img {
        height: 400px;
        width: 400px;
    }
}
@media screen and (min-width:650px) and (max-width:800px) {
    .my-about-page > .about-heading {
        margin-bottom:30px;
    }
    .my-about-page {
        width: 75%;
        margin: auto;
        margin-bottom: 50px;
    }
    .my-about-page > .my_wrapper > .image > img {
        height: 400px;
        width: 400px;
    }
}
@media screen and (min-width:800px) and (max-width:900px){
    .my-about-page > .about-heading {
        width: 50%;
        margin: auto;
        margin-bottom:30px;
    }
    
    .my-about-page > .my_wrapper {
        margin: auto;
        width: 95%;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        margin-bottom: 50px;
    }
    .my-about-page > .my_wrapper > .image > img {
        height: 350px;
        width: 350px;
    }
}
@media screen and (min-width:900px) and (max-width:1080px){
    .my-about-page > .about-heading {
        width: 50%;
        margin: auto;
        margin-bottom:30px;
    }
    
    .my-about-page > .my_wrapper {
        margin: auto;
        width: 95%;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        margin-bottom: 50px;
    }
    .my-about-page > .my_wrapper > .image > img {
        height: 400px;
        width: 400px;
    }
}
@media screen and (min-width:1080px) and (max-width:1200px){
    .my-about-page > .about-heading {
        width: 50%;
        margin: auto;
        margin-bottom:30px;
    }
    
    .my-about-page > .my_wrapper {
        margin: auto;
        width: 80%;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        margin-bottom: 50px;
    }
    .my-about-page > .my_wrapper > .image > img {
        height: 400px;
        width: 400px;
    }
}
@media screen and (min-width:1200px){
    .my-about-page > .about-heading {
        width: 50%;
        margin: auto;
        margin-bottom:30px;
    }
    
    .my-about-page > .my_wrapper {
        margin: auto;
        width: 75%;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        margin-bottom: 50px;
    }
    .my-about-page > .my_wrapper > .image > img {
        height: 400px;
        width: 400px;
    }
}

