
.accounts-container{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 350px;
    background-color: rgb(126, 86, 163);
    border-radius: 25px;
    text-align: center;
    padding: 25px;
}
span.fas {
    font-size: 75px;
}
.socialaccount_ballot > .socialaccount_providers{
    list-style-type: none;
}
.socialaccount_ballot > .socialaccount_providers > li{
    display: block;
    width: 90%;
    background-color: rgb(196, 67, 67);
    color: #fff;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    margin-top: 5px;
    height: 50px;
    padding-top: 10px;
}
.socialaccount_ballot > .socialaccount_providers > li > a {
    text-decoration: none;
}

.socialaccount_ballot > .socialaccount_providers > li:nth-child(even){
    background-color: rgb(67, 67, 196);
}

.accounts-messages{
    background-color: rgb(51, 161, 75);
    color: #fff;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 25px;
    padding: 10px 16px;
}
@media screen and (max-width:400px){
    .accounts-container{
        margin: auto;
        width: 300px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}
