.thumb-description{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 0;
}
.h1.major > h2 > em > i.fas{

    font-size: 150px;
    color: #fff;

}
.comment-box >ul{
    border: solid 2px rgb(126, 86, 163);
    border-radius: 25px;
    padding-left: 0;
}
.comment-box >ul > li{
    display: block;
    border-bottom: solid 1px rgb(126, 86, 163);

}
.comment-box >ul > li {
    border-radius: 25px;
}
pre{
    /**background-color:#1b1b47;**/
    border-radius: 5px;
    
    width:100%;
    overflow:auto;    

    font-size: 0.9em;
    color: #fff;
}

@media screen and (min-width:1200px){
    .body-container{
        width:70%;
        margin:auto;
    }
    .article-image{
        height: 500px;
    }
    .comment-box{
    }
}
@media screen and (min-width:900px) and (max-width:1200px){
    .body-container{
        width:80%;
        margin:auto;
    }
    .article-image{
        height: 500px;
    }
}
@media screen and (min-width:760px) and (max-width:900px){
    .body-container{
        width:90%;
        margin:auto;
    }
    .article-image{
        height: 400px;
    }
}
@media screen and (min-width:600px) and (max-width:760px){
    .body-container{
        width:90%;
        margin:auto;
    }
    .article-image{
        height: 360px;
    }
}
ul {
    list-style: none;
}
