.article-page-list{
    margin-top: 30px;
}
.article-page-list > .my-list-story > .my-list-item > .my-story-info > p.snippet{
    line-height: 1.6;
    margin-bottom: 30px;
}
.article-page-list > .my-list-story > .my-list-item > .my-story-info > a.read-more{
    border: solid 1px rgb(224, 95, 9);
    padding: 15px 10px;
    margin-top: 50px;
}
.article-page-list > .my-list-story > .my-list-item > .my-story-info > a.read-more:hover{
    border: none;
    background-color: rgb(224, 95, 9);
    color: #fff;
}
@media screen and (max-width:400px){
    .article-page-list{
        max-width: 100%;
    }
    .article-page-list > .my-list-story{
        text-align: center;
    }
    .article-page-list > .my-list-story > .my-list-item {
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: dotted 0.5px rgb(128, 128, 128);
    }
}
@media screen and (min-width:400px) and (max-width:720px){
    .article-page-list{
        max-width: 100%;
    }
    .article-page-list > .my-list-story{
        text-align: center;
    }
    .article-page-list > .my-list-story > .my-list-item {
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: dotted 0.5px rgb(128, 128, 128);
    }
}
@media screen and (min-width:720px) and (max-width:820px){
    .article-page-list{
        max-width: 100%;
    }
    .article-page-list > .my-list-story{
        max-width: 100%;
        margin: auto;
        padding-left: 30px;
    }
    .article-page-list > .my-list-story > .my-list-item {
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: dotted 0.5px rgb(128, 128, 128);
        display: grid;
        grid-template-columns: 50% 50%;
    }
}
@media screen and (min-width:820px) and (max-width:920px){
    .article-page-list{
        max-width: 100%;
    }
    .article-page-list > .my-list-story{
        max-width: 100%;
        margin: auto;
        padding-left: 30px;
    }
    .article-page-list > .my-list-story > .my-list-item {
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: dotted 0.5px rgb(128, 128, 128);
        display: grid;
        grid-template-columns: 40% 60%;
    }
    .article-page-list > .my-list-story > .my-list-item > .my-story-info {
        padding: 30px;
    }
}
@media screen and (min-width:920px) and (max-width:1200px){
    .article-page-list{
        max-width: 100%;
    }
    .article-page-list > .my-list-story{
        max-width: 100%;
        margin: auto;
        padding-left: 30px;
    }
    .article-page-list > .my-list-story > .my-list-item {
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: dotted 0.5px rgb(128, 128, 128);
        display: grid;
        grid-template-columns: 40% 60%;
    }
    .article-page-list > .my-list-story > .my-list-item > .my-story-info {
        padding: 30px;
    }
}
@media screen and (min-width:1200px) {
    .article-page-list{
        max-width: 60%;
        margin: auto;
    }
    .article-page-list > .my-list-story{
        max-width: 100%;
        margin: auto;
        padding-left: 30px;
    }
    .article-page-list > .my-list-story > .my-list-item {
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: dotted 0.5px rgb(128, 128, 128);
        display: grid;
        grid-template-columns: 40% 60%;
        /*remove this*/
    }
    .article-page-list > .my-list-story > .my-list-item > .my-story-info {
        padding: 30px;
    }
}