{%extends 'base_layout.htm'%}
{%load static%}
{% block title %}{{article.title}} - HtoStudios{% endblock %}
{%block meta%}<meta name="description" content="{{article.summary}}">{%endblock%}
{%block content%}

		<!-- Header -->
        <header id="header">
				<a href="/" class="title">Hto Studios</a>
				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/articles" class="active">Blog</a></li>
						<li><a href="/about">About</a></li>
					</ul>
				</nav>
			</header>
		<!-- Wrapper -->
			<div id="wrapper">
				    <!-- Main -->
					<section id="main" class="wrapper">
						<div class="inner">
                            <div class="body-container">
                                <h1 class="major">{{article.title}}</h1>
                                <p>By <strong>{{article.author}}</strong> {{article.date}}</p>
                                <p style="font-style: italic;">{{article.summary}}</p>
                                <!-- ShareThis BEGIN --><div class="sharethis-inline-share-buttons"></div><!-- ShareThis END --> <br/>
                                <span class="image fit"><img src="{{article.thumb.url}}" alt="{{article.title}}" class="img-fluid" ></span>
                                <p class="thumb-description"><em>{{article.thumb_description}}</em></p>

                                <!--Article sections-->
                                <ul>
                                    {%for section in sections%}
                                    <li>
                                        <h2 class="major section-heading">{{section.heading}}</h2>
                                        <img src="{{section.image.url}}" class="img-fluid" height="400">
                                        <p class="section-paragraph">{{section.paragraph}} </p>
                                        <pre class="section-code"><code class="{{section.code_language}}">{{section.code}}</code></pre>
                                        <p>{{section.section_video}}</p>
                                    </li>
                                    {%endfor%}
                                </ul>
                                <!--You can also read-->
                                <h1 class="major">
                                    <h2>you can also read...</h2>
                                </h1>
                                <ul>
                                    {%for story in stories%}
                                    <li>
                                        <p><a href="/articles/{{story.title}}/">{{story.title}}</a> </p>
                                    </li>
                                    {%endfor%}
                                </ul>
                                <h1 class="major">
                                    <h2><em></em> </h2>
                                </h1>
                            </div>
                        </div>
                     </section>
                     <!--projects -->
                     <section id="one" class="wrapper style2 spotlights">
                        {%for project in projects%}
                        <section>
                            <a href="{{project.source_link}}" class="image"><img src="{{project.thumb.url}}" alt="{{project.title}}" data-position="center center" /></a>
                            <div class="content">
                                <div class="inner">
                                    <p>
                                        <a href="{{project.source_link}}">View Source</a>,<a href="{{project.display_link}}">Live display</a>,
                                    </p>
                                    <h2>{{project.title}}</h2>
                                    <p>{{project.date}}</p>
                                    <p>{{project.description}}</p>
                                    <ul class="actions">
                                        <li><a href="{{project.buy_link}}" class="button">Bid</a></li>
                                    </ul>
                                </div>
                            </div>
                        </section>
                        {%endfor%}
                    </section>
            

			</div>

{%endblock%}