{%extends 'base_layout.htm'%}
{%load static%}
{% block title %}articles - Hto Studios{% endblock %}
{%block meta%}<meta name="description" content="explore all of our articles, from news to educational blogposts">{%endblock%}
{%block content%}
    <section id="one" class="wrapper style2 spotlights">
        {%for article in articles%}
            <section>
                <a href="/articles/{{article.slug}}" class="image"><img src="{{article.thumb.url}}" alt="{{article.title}}" data-position="center center" /></a>
                <div class="content">
                    <div class="inner">
                        <p>{%for item in article.category.all%}
                            <a href="/articles/category/{{item.name}}/">{{item.name}}</a>,
                            {%endfor%}
                        </p>
                        <h2>{{article.title}}</h2>
                        <p>{{article.date}}</p>
                        <p>{{article.snippet}}</p>
                        <ul class="actions">
                            <li><a href="/articles/{{article.slug}}" class="button">Read more</a></li>
                        </ul>
                    </div>
                </div>
            </section>
        {%endfor%}
    </section>
{%endblock%}