{%extends 'base_layout.htm'%}
{% load static %}
{% block title %}About Hto Studios{% endblock %}
{%block content%}
<div class="my-about-page">
    <div class="about-heading">
        <h1>About Hto Studios</h1>
    </div>
    <div class="my_wrapper">
        {%for about in abouts%}
        <div class="image image-one"><img src="{{about.htostudios_thumb.url}}" alt=""></div>
        <div>
            <h1>{{about.htostudios_title}}</h1>
            <p>{{about.htostudios_intro}}</p>
            <p>{{about.htostudios_description}}</p>
        </div>
        <div>
            <h1>{{about.harry_title}}</h1>
            <p>{{about.harry_intro}}</p>
            <p>
                {{about.harry_description}}
            </p>
        </div>
        <div class="image image-two"><img src="{{about.harry_thumb.url}}" alt=""></div>
        {%endfor%}
    </div>
</div>

{%endblock%}