{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="{%static 'images/1icon_2.png'%}">
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
        <link rel="stylesheet" href="{% static 'assets/style/style.css' %}" />
        <link rel="stylesheet" href="{% static 'assets/style/about_style.css' %}" />
        <link rel="stylesheet" href="{% static 'assets/style/article_list.css' %}" />
        <link rel="stylesheet" href="{% static 'assets/style/article_detail.css' %}" />
        <noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
        <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5d51d5053387b20012d77a33&product=inline-share-buttons' async='async'></script>
        <script data-ad-client="ca-pub-3119331121922905" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	</head>
	<body class="is-preload">
        {%block content%}
        {%endblock%}
        <!-- Footer -->
        <footer id="footer" class="wrapper style1-alt">
            <div class="inner">
                <ul class="menu">
                    <li> Hto Studios &copy; 2020. All rights reserved </li>
                </ul>
            </div>
        </footer>
        <!-- Scripts -->
        <script src=" {% static 'assets/js/jquery.min.js' %}"></script>
        <script src=" {% static 'assets/js/jquery.scrollex.min.js' %}"></script>
        <script src=" {% static 'assets/js/jquery.scrolly.min.js' %}"></script>
        <script src=" {% static 'assets/js/browser.min.js' %}"></script>
        <script src=" {% static 'assets/js/breakpoints.min.js' %}"></script>
        <script src=" {% static 'assets/js/util.js' %}"></script>
        <script src=" {% static 'assets/js/main.js' %}"></script>

        <!-- Bootstrap cdn -->
	</body>
</html>