{%extends 'base_layout.htm'%}
{% load static %}
{% block title %}Hto Studios - Web Development, App Development, Game Development, Art{% endblock %}
{%block content%}
<section id="sidebar">
    <div class="inner">
        <nav>
            <ul>
                <li><a href="#intro">Welcome</a></li>
                <li><a href="#one">Blog</a></li>
                <li><a href="#two">Services</a></li>
                <li><a href="#three">Get in touch</a></li>
            </ul>
        </nav>
    </div>
</section>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Intro -->
        <section id="intro" class="wrapper style1 fullscreen fade-up">
            <div class="inner">
                {%for welcome in welcomes%}
                <h1>{{welcome.brand_name}}</h1>
                <p>
                    {{welcome.brand_quote_one}} <br>
                    {{welcome.brand_quote_two}}
                </p>
                {%endfor%}
                <ul class="actions">
                    <li><a href="/about" class="button scrolly">About us</a></li>
                </ul>
            </div>
        </section>

    <!-- One -->
        <section id="one" class="wrapper style2 spotlights">
            {%for article in articles%}
            <section>
                <a href="/articles/{{article.slug}}" class="image"><img src="{{article.thumb.url}}" alt="{{article.title}}" data-position="center center" /></a>
                <div class="content">
                    <div class="inner">
                        <p>{%for item in article.category.all%}
                            <a href="/articles/category/{{item.name}}/">{{item.name}}</a>,
                            {%endfor%}
                        </p>
                        <h2>{{article.title}}</h2>
                        <p>{{article.date}}</p>
                        <p>{{article.snippet}}</p>
                        <ul class="actions">
                            <li><a href="/articles/{{article.slug}}" class="button">Read more</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            {%endfor%}
        </section>

    <!-- Two -->
        <section id="two" class="wrapper style3 fade-up">
            <div class="inner">
                {%for solution in solutions%}
                <h2>{{solution.title}}</h2>
                <p>{{solution.body}}</p>
                {%endfor%}
                <div class="features">
                    {%for service in services%}
                    <section>
                        <span class="{{service.fav_icon}}"></span>
                        <a href="/services/{{service.name}}/"><h3>{{service.name}}</h3></a>
                        <p>{{service.description}}</p>
                    </section>
                    {%endfor%}
                </div>
            </div>
        </section>

    <!-- Three -->
        <section id="three" class="wrapper style1 fade-up">
            <div class="inner">
                <h2>Get in touch</h2>
                <p> Say hi, post your blog suggestions and business enquireries.</p>
                <div class="split style1">
                    <section>
                        <form method="post" action="/">
                            {% csrf_token %}
                            <div class="fields">
                                {%for field in form%}
                                <div class="field half">
                                    <label for="{{field.name}}">{{field.name}}</label>
                                    {{field}}
                                </div>
                                {%endfor%}
                            </div>
                            <ul class="actions">
                                <li><a href="/" class="button submit">Send Message</a></li>
                            </ul>
                        </form>
                    </section>
                    <section>
                        <ul class="contact">
                            <li>
                                <h3>Hto studios</h3>
                            </li>
                            <li>
                                <h3>Email</h3>
                                <a href="#">htostudiosbusiness@gmail.com</a>
                            </li>
                            <li>
                                <h3>Nairobi KENYA</h3>
                            </li>
                            <li>
                                <h3>Social</h3>
                                <ul class="icons">
                                    <li><a href="https://www.twitter.com/htostudioss" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                                    <li><a href="https://www.facebook.com/htostudios" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                                    <li><a href="https://www.github.com/hthuku95" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
                                    <li><a href="https://www.instagram.com/htostudios" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                                    <li><a href="https://www.linkedin.com/in/harry-omolloh-thuku-1385931a9" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
        </section>
</div>
{%endblock%}
